.month-container {
  &:first-child {
    margin-right: 10px !important;
  }

  &:not(:first-child) {
    margin-left: 10px !important;
  }
}

.month-header {
  display: flex !important;
  justify-content: center !important;
  align-content: center !important;
  color: #565a5c !important;
  font-size: 18px !important;
  text-align: center !important;
  padding-top: 22px !important;
  padding-bottom: 37px !important;
  caption-side: initial !important;

  p {
    align-self: center;
    border: 1px solid #c4c4c4 !important;
    padding: 5px 10px;
    margin: 0 40px;

    &:hover {
      cursor: pointer;
    }
  }
}