@import '../../../../node_modules/@zaplabs/zap-shared-styles/main/color-library';

datepicker-week .datepicker-week-container {
  display: flex;

  th {
    color: $color-midnight;
    flex: 1 1 0;
    padding: 12px 0;
  }
}