@import '../../../node_modules/@zaplabs/zap-shared-styles/main/color-library';
// @import '../../../node_modules/@zaplabs/zap-shared-styles/main/typography';
// @import 'typography';
// @import 'color-library';

.zap-datepicker {
  display: flex;
  flex-direction: column;
  width: 620px !important;
  height: 100px !important;
  position: relative;
  font-size: 16px !important;

  .hide {
    display: none;
  }

  .selected-date {
    border: 2px solid green;
    color: $color-rolling-stone;
    display: flex;
    font-size: 22px;
    justify-content: space-between;
    padding: 10px;
    width: 300px;

    svg {
      width: 30px !important;
      height: 25px !important;
      pointer-events: none;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
  }

  .datepicker-container {
    display: none;
    position: absolute;
    left: 0px;
    z-index: 10 !important;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-shadow: 0 14px 36px 2px rgba(0, 0, 0, 0.15);
    padding: 1.5em;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: normal;
    text-align: center;
    top: 90px;
    width: 100%;
    visibility: visible;

    .mobile-date-header {
      display: flex;

      &.hide {
        display: none;
      }
    }

    .month-container {
      display: inline-block;
      width: calc(50% - 10px);

      &.first-month-container {
        margin-right: 10px;
      }
      &.second-month-container {
        margin-left: 10px;
      }
    }
  }

  &.mobile-view {
    width: 100% !important;

    .datepicker-container {
      position: fixed !important;
      top: 0px !important;
      height: 100%;
      padding: 0;

      .mobile-date-header {
        justify-content: center;
        align-items: center;

        p {
          font-size: .875em;
        }
      }

      .month-container {
        display: block;
        width: 80%;
        margin: 0 auto;
      }
    }
  }
}